#OSX
.DS_Store

# Local files
Local*/
*.root
*.log
*test*
*TEST*

# output from batch jobs
*.o*

# Python
*.pyc
*__init__*

# ROOT intermediate file
*.pcm

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
